@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F7F2E9;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.commonInput {
  @apply px-4 py-3 bg-gray-100 focus:bg-transparent w-full text-sm outline-[#333] rounded-sm transition-all;
}
.login-form {
  @apply max-w-md mx-auto space-y-4 font-[sans-serif] text-[#333] mt-4;
}

.login-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.sign-in-button {
  @apply px-5 py-2.5 rounded-full text-white text-sm tracking-wider font-medium border border-current outline-none bg-[#e5e5e5]  active:bg-[#333];
}
.right-align {
  @apply text-right;
}
.section1 {
  width: 40%;
  height: 100vh;
}
.section2 {
  width: 60%;
  height: 100vh;
}
.error-msg {
  @apply text-red-600;
}
.redirectLink a {
  text-decoration: underline;
}
.social-login-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.social-login-button {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  cursor: pointer;
}
.selection-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-signup {
  width: 50%;
  height: 40vh;
}
.indivisual-signup {
  width: 50%;
  height: 40vh;
}
.selected {
  background-color: aliceblue;
}
.rating-icon {
  width: 20px;
  height: 19px;
  color: #ff6363;
}
.product-info {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.single-product-detail {
  width: 45%;
}
.product-carousel {
  width: 45%;
}
.reviews {
  color: #ff6363;
  margin-left: 5px;
}
.counterDiv {
  width: 70px;
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #000000;
  border-radius: 7px;
}
.increement,
.decreement {
  background: #ffe794;
  cursor: pointer;
}
.date {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2px;
  width: 92px;
  border: 2px solid #e0e0e0;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hide-scrollbar {
  overflow-y: scroll;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
